* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5941A9;
    width: 100vw;
    height: 100vh;
}


/**JEUX ET FORMULAIRE DEPART **/

#jeux-container {
    width: 900px;
    height: 700px;
    border: 1px solid;
    border-color: red;
    display: none;
}

#form-container {
    display: block;
    width: 100%;
}

.active {
    display: block;
}

img {
    height: 15%;
    width: 17%;
}

#carte-joueur {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.joueur {
    display: flex;
    flex-direction: row;
    margin: 5 auto;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
}


/** Aniamtion Texte **/

.patterns {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg.input-svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: rgb(177, 165, 255);
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
        fill: hsl(189, 68%, 75%)
    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%, 0%)
    }
}


/** INPUT **/

input.input-nbr {
    width: 100%;
    height: 100%;
    color: rgb(177, 165, 255);
    border: none;
    background-color: #5941A9;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(177, 165, 255);
}

.form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid hsl(189, 68%, 75%);
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-bottom: 5px;
    font-size: 25px;
    transition: all 0.3s ease;
    color: hsl(189, 68%, 75%);
}

input.input-nbr:focus {
    outline: none;
}

input.input-nbr:focus+.label-name .content-name,
input.input-nbr:valid+.label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    left: 0px;
    color: hsl(189, 68%, 75%);
}

input.input-nbr:focus+.label-name::after,
input.input-nbr:valid+.label-name::after {
    transform: translateX(0%);
}

.form {
    width: 20%;
    position: relative;
    height: 60px;
    overflow: hidden;
}


/** BUTON **/

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    margin-top: 15;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}